.drawer-fade-enter {
  transform: translateX(-100%);
}
.drawer-fade-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}
.drawer-fade-exit {
  transform: translateX(0);
}
.drawer-fade-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-out;
}

.drawer-right-fade-enter {
  transform: translateX(100%);
}
.drawer-right-fade-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}
.drawer-right-fade-exit {
  transform: translateX(0);
}
.drawer-right-fade-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}

.list-fade-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.list-fade-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms, opacity 300ms;
}
.list-fade-exit {
  transform: translateY(0);
  opacity: 1;
}
.list-fade-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}

.search-fade-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.search-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.search-fade-exit {
  opacity: 1;
}
.search-fade-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 500ms, transform 500ms;
}

.mask-fade-enter {
  background-color: rgba(0, 0, 0, 0);
}
.mask-fade-enter-active {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 300ms;
}
.mask-fade-enter-done {
  background-color: rgba(0, 0, 0, 0.6);
}
.mask-fade-exit {
  background-color: rgba(0, 0, 0, 0.6);
}
.mask-fade-exit-active {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 300ms;
}