@import "./base.css";
@import '@unocss/reset/tailwind.css';
@unocss all;

.hover-line-text {
  background: linear-gradient(to right, rgb(var(--primary-color)), rgb(var(--primary-color))) no-repeat left bottom;
  background-size: 0 2px;
  transition: all 300ms ease;
  &:hover {
    background-size: 100% 2px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(var(--text-color-1));
  background:
          linear-gradient(rgba(var(--backgroundt-color), 0.5), rgba(var(--backgroundt-color), 0.5)),
          url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
