@import "./base.scss";

html, body, #app {
  height: 100%;
  color: var(--text-color);
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.item-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.radius-md {
  border-radius: 12px;
}
.radius-xl {
  border-radius: 20px;
}
.shadow-md {
  box-shadow: 0 0 8px var(--shadom-color);
}
.pointer {
  &:hover {
    cursor: pointer;
  }
}