@import "./base.scss";
@import "./animation.scss";

html, body, #app {
  height: 100%;
  color: var(--text-color);
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.item-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.radius-md {
  border-radius: 12px;
}
.radius-xl {
  border-radius: 20px;
}
.shadow-md {
  box-shadow: 0 0 8px var(--shadom-color);
}
.pointer {
  &:hover {
    cursor: pointer;
  }
}

.card {
  background-color: var(--card-color);
  padding: var(--space-md);
  min-height: 100%;
}
.search-div {
  display: flex;
  gap: var(--space-md);
  margin-bottom: var(--space-md);
  flex-wrap: wrap;
  .search-item {
    display: flex;
    column-gap: var(--space-xs);
    align-items: center;
    label {
      flex-shrink: 0;
    }
  }
  .search-buttons {
    display: flex;
    column-gap: var(--space-sm);
  }
}

.link-text {
  background: linear-gradient(to right, var(--primary-color), var(--primary-color)) no-repeat left bottom;
  background-size: 0 2px;
  color: var(--primary-color);
  padding-bottom: 2px;
  transition: background-size 300ms ease;
  &:hover {
    cursor: pointer;
    background-size: 100% 2px;
  }
}

.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}