.article-page-item {
  &:hover {
    .article-item-cover {
      transform: scale(1.25);
    }
  }
  .article-item-cover {
    transition: transform 500ms ease;
  }
}
.article-content {
  .article-header {
    position: relative;
    overflow: hidden;
    &:hover {
      .header-cover {
        transform: scale(1.3);
      }
    }
    .header-cover {
      transition: transform 500ms ease;
    }
    .header-summary {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}