.author-avatar {
  transition: all 1s cubic-bezier(.6, -0.30, .1, 1.5);
  &:hover {
    transform: rotate(360deg);
  }
}
.main-link {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  position: relative;
  background: linear-gradient(to right, #1E90FF, #1E90FF) no-repeat right bottom;
  background-size: 0 100%;
  transition: all 500ms ease;
  &:hover {
    background-size: 100% 100%;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(var(--primary-color));
    z-index: -1;
  }
}
.author-links-ul {
  a {
    transition: all 300ms ease;
    &:hover {
      transform: scale(1.35);
    }
  }
}