.hot-label, .top-label {
  padding: 0 4px;
  border-radius: 0.125rem;
}
.hot-label::before {
  content: 'HOT';
}
.top-label {
  background-color: rgb(var(--primary-color));
  &::before {
    content: 'TOP';
  }
}