.pagination-container {
  .page-button {
    padding: 0.35rem 0.75rem;
    background-color: rgb(var(--button-background-color));
    transition: background-color 300ms ease;
    border-radius: 0.25rem;
    &:hover {
      background-color: rgb(var(--primary-color));
    }
  }
  .active-page-button {
    padding: 0.35rem 0.75rem;
    border-radius: 0.25rem;
    background-color: rgb(var(--primary-color));
  }
}